// defult style just like odoo 
@include media-breakpoint-up(md){
   tr{
      .form-check.o-checkbox{
         &:not(.form-switch){
            display: flex;align-items: center;
         }
      }
   }
}
@if $checkbox_style == 'default'{
    input[type="checkbox"]{
        &:checked {background-color: #017e84; border-color: #017e84; }
        &:hover {border-color: #017e84 !important;}
        &:focus {border-color: #017e84 !important;}
    }
 }
 //  check box change into tic
@if $checkbox_style == 'style_1'{
    .o_calendar_view {
        input[type="checkbox"] {
            + label {padding-left: 20px;}
        }
    }
    input[type="checkbox"]{ position: relative; opacity: 0;
        + label { position: relative; left: -15px;
            &::before{content:""; width: 15px;  height: 15px;border: 2px solid #000; position: absolute;left: 0;border-radius: 5px;  transition: 0.5s;}
            &::after {content:""; width: 8px;height: 15px;border: 2px solid #000;position: absolute;left: 0;border-radius: 2px;border-top: 0;border-left: 0; opacity: 0; transition: 0.5s;}
        }
        &:checked {
            + label {
                &::before{content:""; width: 15px;  height: 15px;border: 2px solid #000; position: absolute;left: 0;border-radius: 5px; opacity: 0;}
                &::after {content:""; width: 8px;height: 15px;border: 2px solid #000;position: absolute;left: 0;border-radius: 2px;border-top: 0;border-left: 0; opacity: 1; transform: rotate(35deg); left: 4px;}
            }
        }
    }
}
//  few radius check box 
 @if $checkbox_style == 'style_2'{
    .o_calendar_view {
        input[type="checkbox"] {
            + label {padding-left: 20px;}
        }
    }
    input[type="checkbox"]{ position: absolute;left: -9999px;width: 15px !important;height: 15px !important;
            + label{position: relative; border: 1px solid #ddd; width: 16px; height: 16px; border-radius: 5px;
                &::before{content: "";display: inline-block;width: 16px !important;height: 16px !important;margin-right: 5px !important;box-sizing: border-box !important;border-radius: 5px !important;transform-origin: center center !important;transition: 0.5s !important;}
                &::after{content: "";display: flex !important;height: 100% !important;align-items:center !important;position:absolute !important;top: 0;color: #fff;transition: 0.5s;opacity: 0;left: 5px !important;}
            }
        &:checked{position: absolute;left: -9999px;width: 15px !important;height: 15px !important;
            + label{ display: flex; border-color: #017e84;
                &::before{content: "";display: inline-block;width: 16px !important;height: 16px !important;margin-right: 0 !important;box-sizing: border-box !important;border-radius: 5px !important;transform-origin: center center !important;transition: 0.5s !important;transform: scale(1.1) !important;background-color:$extra_color !important;border-color: $extra_color !important;transition: 0.5s !important;left: 5px !important;}
                &::after{opacity: 1 !important;content: '\f00c' !important;font-family: FontAwesome;transition-delay: 0.2s !important;font-size: 12px;left: 2px !important;color: #ffffff; position: absolute;line-height: 15px;top: 2px;left: 1px !important;}
            }
        }
    }
    .o-checkbox  {
        &.form-check {
            &:has(input[type="checkbox"]){padding-left: 0 !important;}
        }
    }
 }
//  rounded check box 
 @if $checkbox_style == 'style_3'{
    .o_calendar_view {
        input[type="checkbox"] {
            + label {padding-left: 20px;}
        }
    }
    input[type="checkbox"]{border: 1px solid #ddd; border-radius: 100% !important; filter: invert(0) grayscale(0);
        &:checked {background-color: $primaryColor !important; border-color: $primaryColor !important;}
        &:hover {border-color: $primaryColor !important;}
        &:focus {border-color: $primaryColor !important;}
    }
 }

