<?xml version="1.0" encoding="UTF-8"?>
<templates xml:space="preserve">

    <t t-name="web.NavBar" t-inherit="web.NavBar" t-inherit-mode="extension" owl="1">
        <xpath expr="//nav[hasclass('o_main_navbar')]" position="after">
          <div class="multi_tab_section"/>
      </xpath>
    </t>

    <t t-inherit="web.NavBar.AppsMenu.Sidebar" t-inherit-mode="extension" owl="1">
        <xpath expr="//nav" position="after">
                <ShAppsMenu />
        </xpath>
        <xpath expr="//a[@href='/odoo']" position="replace">
            <a href="/odoo" class="btn btn-primary"  t-on-click="loadMobileMenu">
                <i class="oi oi-apps"></i>
                <span class="px-2">All Apps</span>
            </a>
        </xpath>
         <xpath expr="//div[@class='d-flex align-items-center m-3 mb-0']" position="replace">
            <div t-if="!state.isAllAppsMenuOpened and currentApp" class="d-flex align-items-center m-3 mb-0">
                <t t-set="app_icon_style" t-value="getIconStyle()"/>
                <t t-set="app" t-value="currentAppData()"/>
                <t t-if="app">
                    <t t-if="app_icon_style  == 'style_1'">
                        <img style="height: 2em;" t-if="currentApp.webIconData" class="o_app_icon me-2" t-attf-src="{{currentApp.webIconData}}"/>
                    </t>
                    <t t-if="app_icon_style  == 'style_2'">
                        <t t-set="app_cls_name" t-value="getAppClassName(app)"/>
                        <span t-attf-class="sh-{{app_cls_name}} sh_fa_icon me-2"/>
                    </t>
                    <t t-elif="app_icon_style  == 'style_3'">
                        <t t-set="app_cls_name" t-value="getAppClassName(app)"/>
                        <img class="img threed_icon me-2"
                             t-attf-src="/sh_entmate_theme/static/src/app_icon/3d_icons/{{app_cls_name}}.png"
                             t-att-title="app.name" t-att-alt="app.name" style="height:2em!important"/>
                    </t>
                    <t t-elif="app_icon_style  == 'style_4'">
                        <t t-set="app_cls_name" t-value="getAppClassName(app)"/>
                        <span class = "me-2" t-attf-class="sh-{{app_cls_name}}-dt sh_fa_icon">
                            <span class="path1"/>
                            <span class="path2"/>
                        </span>
                    </t>
                    <t t-elif="app_icon_style  == 'style_5'">
                        <t t-set="app_cls_name" t-value="getAppClassName(app)"/>
                        <img class="img glass_icon me-2"
                             t-attf-src="/sh_entmate_theme/static/src/app_icon/glass_icons/{{app_cls_name}}.png"
                             t-att-title="app.name" t-att-alt="app.name" style="height:2em!important"/>
                    </t>
                    <t t-elif="app_icon_style  == 'style_6'">
                        <t t-set="app_cls_name" t-value="getAppClassName(app)"/>
                        <span t-attf-class="sh-{{app_cls_name}}-l sh_fa_icon" class="me-2"/>
                    </t>
                    <span class="sh_app_name fs-4 fw-bolder"
                      t-att-title="app.name">
                        <t t-esc="app.name"/>
                    </span>
                </t>
                <t t-else="!app">
                    <div t-if="!state.isAllAppsMenuOpened and currentApp" class="d-flex align-items-center m-3 mb-0">
                      <img style="height: 2em;" t-if="currentApp.webIconData" class="o_app_icon me-2" t-attf-src="{{currentApp.webIconData}}"/>
                      <span class="fs-4 fw-bolder"><t t-esc="currentApp.name"/></span>
                    </div>
                </t>
            </div>
        </xpath>
    </t>


    <t t-inherit="web.NavBar.AppsMenu" t-inherit-mode="extension" owl="1">
<!--        <t t-if="!state.is_small">-->
<!--            <xpath expr="//t[@t-if='env.isSmall']" position="attributes">-->
<!--                <attribute name="t-if">False</attribute>-->
<!--            </xpath>-->
<!--        </t>-->
        <xpath expr="//Dropdown" position="replace">
            <ShAppsMenu ref="sh_apps_menu">
                <DropdownItem>
                        <div class="o_app" t-foreach="apps" t-as="app" t-key="app.id"
                             onSelected="() => this.onNavBarDropdownItemSelection(app)">
                    <t t-set="app_id" t-value="app.id"/>
                        <t t-set="app_icon_style" t-value="getIconStyle()"/>
                        <a t-att-href="getMenuItemHref(app)"
                           class="o_menuitem d-flex flex-column rounded-3 justify-content-start align-items-center w-100 p-1 p-md-2">
                            <t t-if="app_icon_style  == 'style_1'">
                                <img class="img o_app_icon"
                                     t-attf-src="/web/image?model=ir.ui.menu&amp;field=web_icon_data&amp;id={{app_id}}"
                                     t-att-title="app.name" t-att-alt="app.name"/>
                            </t>
                                    <t t-elif="app_icon_style  == 'style_2'">
                                <t t-set="app_cls_name" t-value="getAppClassName(app)"/>
                                        <span t-attf-class="sh-{{app_cls_name}} sh_fa_icon"></span>
                            </t>
                                    <t t-elif="app_icon_style  == 'style_3'">
                                <t t-set="app_cls_name" t-value="getAppClassName(app)"/>
                                        <img class="img h-100 threed_icon"
                                             t-attf-src="/sh_entmate_theme/static/src/app_icon/3d_icons/{{app_cls_name}}.png"
                                             t-att-title="app.name" t-att-alt="app.name"/>
                            </t>
                                    <t t-elif="app_icon_style  == 'style_4'">
                                <t t-set="app_cls_name" t-value="getAppClassName(app)"/>
                                        <span t-attf-class="sh-{{app_cls_name}}-dt sh_fa_icon">
                                    <span class="path1"></span>
                                            <span class="path2"></span>
                                </span>
                            </t>
                                    <t t-elif="app_icon_style  == 'style_5'">
                                <t t-set="app_cls_name" t-value="getAppClassName(app)"/>
                                        <img class="img w-100 h-100 glass_icon"
                                             t-attf-src="/sh_entmate_theme/static/src/app_icon/glass_icons/{{app_cls_name}}.png"
                                             t-att-title="app.name" t-att-alt="app.name"/>
                            </t>
                                    <t t-elif="app_icon_style  == 'style_6'">
                                <t t-set="app_cls_name" t-value="getAppClassName(app)"/>
                                        <span t-attf-class="sh-{{app_cls_name}}-l sh_fa_icon"></span>
                            </t>
                                    <span class="sh_app_name o_caption w-100 text-center text-truncate mt-2"
                                          t-att-title="app.name">
                                <t t-esc="app.name"/>
                            </span>
                        </a>
                    </div>
                </DropdownItem>
            </ShAppsMenu>
        </xpath>
    </t>

    <t t-name="web_responsive.AppsMenu" owl="1">
        <div class="o-dropdown dropdown o-dropdown--no-caret o_navbar_apps_menu">
             <div class="toggle-container">
                <t t-if="!state.isOpen">
                    <t t-set="img_url" t-value="this.currentApp()"/>
                         <t t-if="img_url and ['style_1' , 'style_3' , 'style_5'].includes(img_url.iconStyle)">
                            <img t-att-src="img_url.webIconData" class="toggle-image o_menu_brand_icon" />
                        </t>
                         <t t-if="img_url and ['style_2'].includes(img_url.iconStyle)">
                            <span t-attf-class="sh-{{img_url.webIconData}} toggle-image o_menu_brand_icon" style="font-size:28px!important"/>
                        </t>
                        <t t-if="img_url and ['style_4'].includes(img_url.iconStyle)">
                            <span t-attf-class="sh-{{img_url.webIconData}}-dt sh_fa_icon toggle-image o_menu_brand_icon" style="font-size:28px!important">
                                <span class="path1"/>
                                <span class="path2"/>
                            </span>
                        </t>
                        <t t-if="img_url and ['style_6'].includes(img_url.iconStyle)">
                            <span t-attf-class="sh-{{img_url.webIconData}}-l toggle-image o_menu_brand_icon" style="font-size:28px!important"/>
                        </t>
                    <button
                        class="dropdown-toggle toggle-button"
                        title="Home Menu"
                        data-hotkey="a"
                        t-on-click.stop="() => this.updateMenuState(true, true)">
                        <i class="fa fa-angle-left" aria-hidden="true"/>
                    </button>
                </t>
                <t t-else="">
                    <button
                        class="dropdown-toggle"
                        title="Home Menu"
                        data-hotkey="a"
                        t-on-click.stop="() => this.updateMenuState(false, true)">
                        <i class="fa fa-angle-right" aria-hidden="true"/>
                    </button>
                </t>
            </div>
            <div t-if="state.isOpen" class="dropdown-menu-custom">
                <t t-slot="default" />
            </div>
        </div>
    </t>

</templates>