.sh_global_search{
    .sh_search_container {position: fixed !important;overflow-x: hidden;overflow-y: auto;box-shadow: none;border: none;z-index: 99999;left: 50%;right: 0;width: 58%;background: transparent;top: 77px;transform: translateX(-50%);
        .sh_search_input{
            .input-group{
                .input-group-prepend{
                    .input-group-text{background: transparent; border-color: transparent ;}
                }
            }
        }
        .sh_search_results {overflow: auto;height: 700px;margin-top: 30px;width: 100%;}
    }
}