.sh_language_main{
    .list-group-item{
        align-items: center;
        padding: 10px !important;
        &:hover{
            background-color: #ddd;
        }
        .sh_lang_flag{
            height: 1.5rem;margin-right: 10px;
        }
    }
}
