.todo_layout {display: block !important;background: #fff;min-width: 420px;max-width: 420px;z-index: 999;position: fixed;top: 0;right: 0;bottom: 0;box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, 0.11);// margin-right: -625px;transition: allease-in-out 0.3s;
	.theme_header {justify-content: space-between;padding: 9px 20px;background: $primaryColor;align-items: center;
		h3 , i {color: #fff; margin: 0 !important;}
	}
	.add_todo_section{padding: 10px 20px;
		.input-group {margin: 0  !important;box-shadow:  0 0 10px rgba(0, 0, 0, 0.2);
			@if $button_style == "style_1" {
				.sh_add_todo_input{border-radius: 0; margin: 0 !important;}
				.input-group-append {
					.btn {border-radius: 0  !important; height: 100%;}
				}
			}
			@if $button_style == "style_2" {
				.sh_add_todo_input{border-radius: 5px 0 0 5px; margin: 0 !important;}
				.input-group-append {
					.btn {border-radius: 0 5px 5px 0 !important; height: 100%;}
				}
			}
			@if $button_style == "style_3" {
				.sh_add_todo_input{border-radius: 0 0 0 10px; margin: 0 !important;}
				.input-group-append {
					.btn {border-radius: 0 10px 0 0 !important; height: 100%;}
				}
			}
			@if $button_style == "style_4" {
				.sh_add_todo_input{border-radius: 15px 0 0 15px; margin: 0 !important;}
				.input-group-append {
					.btn {border-radius: 0 15px 15px 0 !important; height: 100%;}
				}
			}
		}
	}
	.sh_main_todo_list{margin: 10px 20px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); overflow: auto; height: 100%;
		.sh_main_card{transition: 0.5s all ease-in-out;
			.card {margin: 10px 20px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); padding: 0;
				&:first-child{margin-top: 20px;}
                .sh-card-header {background: $primaryColor !important; color: #fff;padding: 5px 10px;
					.sh_to_do_edit_btn , .sh_to_do_save_btn , .sh_to_do_remove_btn {display: flex; align-items: center;}
					span {color: #fff;}
				}
			}
		}
	}
}